# Diretórios de compilação e publicação
**/bin/
**/obj/
**/TestResults/

# Arquivos de compilação e de usuário
*.user
*.userosscache
*.suo
*.userprefs
*.nupkg
*.dbmdl

# Arquivos de cache de ferramentas
.vs/